// Place all the styles related to the Api::Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  width: 960px;
  font-size: 20px;
  margin-bottom: 30px;
}

.comments-heading {
  margin-bottom: 20px;
}

.comment-buttons{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.comment-cancel {
  color: #606060;
  font-size: 16px;
  padding: 10px 16px;
}

.comment-submit {
  color: white;
  border-radius: 2px;
  padding: 10px 16px;
  font-size: 16px;
  background:#1a73e8;
  margin-left: 8px;
}

.comment-submit-disabled {
  color: white;
  border-radius: 2px;
  padding: 10px 16px;
  font-size: 16px;
  background:#cccccc;
  margin-left: 8px;
}

.comment
{
  margin-top: 30px;
}

.comment-submit-container{
  display: flex;
}

.new-comment-submit {
  width: 960px;
  border-bottom: 1px solid #cccccc;
  font-size: 16px;
}

.new-comment-submit:focus {
  border-bottom: 3px solid #030303;
}

.comment-text {
  font-size: 16px;
  font-weight: 400;
  margin-left: 47px;
}

.commenter {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}