// Place all the styles related to the Api::Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  width: 640px;
  font-size: 20px;
  font-weight: bold;
}

.comment {
  margin: 30px 5px;
}

.comment-text {
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
}

.commenter {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
}