// Place all the styles related to the Api::Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.likebar-container{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 16px;
  padding-left: 30px;
}

.likebar-container button {
  display: flex;
  align-items: center;
}

.likebar-none
{
  color: #606060;
  font-size: 17px;
  font-weight: 600;
  margin-right: 15px;
}

.likebar-blue
{
  color: #0a5ed4;
  font-size: 17px;
  font-weight: 600;
  margin-right: 15px;
}

.likebar-hand
{
  width: 34px;
  margin-right: 12px;
}
