// Place all the styles related to the Api::Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.likebar-none
{
  color: #606060;
  font-size: 12px;
}

.likebar-blue
{
  color: #0a5ed4;
  font-size: 12px;
}

