// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.session-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 20px);
  background-color: #ffffff;
}

.signin-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #dadce0;
  padding: 20px 10px;
  width: 420px;
  height: 450px;
  background-color: #ffffff;
}

.signin-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.logo-content-container-signin {
  padding-right: 0px;
}

.logo-content-container-signin .nutube-logo {
  height: 40px;
  width: 71.1px;
} 

.logo-content-container-signin .nutube-text {
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 40px;
  font-size: 44px;
  font-weight: 700;
  margin-top: 2.5px;
}


.signin-form label, .signin-form span {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.signin-form-description {
  font-size: 35px;
  background-color: #ffffff;
}

.signup-username-wrapper, .signin-form-fields {
      background-color: #ffffff;
}

.signin-username, .signin-email, .signin-password {
  border: 1px solid #dadce0;
  border-radius: 2px;
  font-size: 14px;
  width: 300px;
  padding: 10px;
  background-color: #ffffff;
}

.signin-username:focus, .signin-email:focus, .signin-password:focus {
  border: 1px solid #1c62b9;
  border-radius: 2px;
}


.session-submit, .demo-signin {
  color: white;
  border-radius: 2px;
  padding: 6px 10px;
  font-size: 15px;
}

.session-submit {
  background:#1a73e8;
}

.session-submit:hover {
  background: #1c62b9;
}

.demo-signin {
  background: #d50000;
  margin-top: 56px;
}

.demo-signin:hover {
  background: #ab2121;  
}

.session-form-link {
  color: #1a73e8;
  padding: 6px;
  font-size: 15px;
  background-color: #ffffff;
}

.session-form-link a {
    background-color: #ffffff;
}

.session-form-errors {
  color: #d50000;
  font-size: 14.5px;
  height: 20px;
  margin-left: 5px;
  margin-top: 5px;
  background-color: #ffffff;
}

