/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  font-family: 'Roboto', 'Arial', sans-serif;
}

.splash-page-container {
  display: flex;
  flex-direction: column;
}

.nutube-header {
  height: 56px;
  padding: 0 16px;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.logo-content-container-splash {
  padding-right: 76px; 
}

.logo-content {
  display: flex;
  flex-direction: row;
  position: relative;
  /* extra margin for logo style */
}

.nutube-logo {
  height: 18px;
  width: 32px;
} 

.nutube-text {
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 18px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 1.5px;
}

/* form */
.video-search {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 30px;
  justify-content: space-between;
  margin-right: 70px;
}


/* inputs  */

/* DEP. padding-right: 100% */
  /* DEP. align- */


.video-search-text {
  background-color: transparent;
  font-size: 16px;
  width: 100%;
  font-weight: 400;
  padding: 2px 6px;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  
}

.video-search-text:focus {  
  border: 1px solid #1c62b9;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3) inset;

}

.video-search-image-div {
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(222, 222, 222);
    width: 65px;
    padding: 2px 6px;
    display: flex;
    border-left: 0px;
    border-radius: 2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

.video-search-image-div:hover {
  cursor: pointer;
}

.video-search-image {
  height: 14px;
  margin: auto;
}

.session-login {
  border: 1px solid #1c62b9;;
  border-radius: 2px;
  padding: 5px 11px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.session-login img {
  height: 24px;
  width: 24px;
}

.session-login p {
  margin-left: 8px;
  color: #1c62b9;
  white-space: nowrap;
  font-weight: 600;
}

.user-icon-container {
  position: relative;
  display: inline-block;
}

.user-icon {
  font-size: 16px;
  color: white;
  text-align: center;
  background-color: green;
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 5px;
  margin: 1px 6px;
  border-radius: 20px;
  cursor: pointer;
}

.user-icon-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 200px;
  background-color: white;
}

.user-icon-dropdown li {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0,0,0,.1);
  border-top: 0px;
  padding: 16px;
  align-items: center;
}

.user-subicon {
  width: 23px;
  height: 23px;
  line-height: 23px;
  padding: 6px;
  border-radius: 23px;
  font-size: 18.4px;
  margin: 0 12px 0 0;  
}

.dropdown-username {
  font-weight: bold;
  font-size: 16px;
}

.dropdown-email {
  font-size: 14px;
}

.dropdown-logout {
  font-size: 14px;
}





.video-index {
  padding: 0px 16px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-index > li {
  padding: 10px 30px;
}

.video-thumbnail {
  height: 270px;
  width: 480px;
}

.video-title-index {
  font-size: 14px;
  font-weight: bold;
  max-width: 320px;
}

.video-uploader-index {
  font-size: 14px;
}



.video-show-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.video-show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
}

.video-description-container {
  margin-top: 20px;
  width: 640px;
}

.video-title-show {
  font-size: 26px;
  padding-bottom: 10px;
}

.video-uploader-show {
  font-size: 14px;
  font-weight: bold;
}
