/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  font-family: 'Roboto', 'Arial', sans-serif;
}

.nutube-header {
  height: 56px;
  padding: 0 16px;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.logo-content-container-splash {
  padding-right: 76px; 
}

.logo-content-container-signin {
  padding-right: 0px;
}

.logo-content {
  display: flex;
  flex-direction: row;
  position: relative;
  /* extra margin for logo style */
}

.nutube-logo {
  height: 18px;
  width: 32px;
  position: relative;
  bottom: 1px;
} 

.nutube-text {
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 18px;
  font-size: 20px;
  font-weight: 700;
}

/* form */
.video-search {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 30px;
  border: 1px solid rgb(222, 222, 222);
  justify-content: space-between;
  border-radius: 2px;
  margin-right: 70px;
}

/* inputs  */

/* DEP. padding-right: 100% */
  /* DEP. align- */


.video-search-text {
  background-color: transparent;
  font-size: 16px;
  width: 100%;
  font-weight: 400;
  margin-left: 4px;
  padding: 2px 6px;
}

.video-search-image-div {
    border-left: 1px solid rgb(222, 222, 222);
    background-color: rgb(246, 246, 246);
    width: 65px;
    padding: 2px 6px;
    display: flex;
  }

.video-search-image {
  height: 14px;
  display: block;
  margin: auto;
}

.session-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}

.signin-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #dadce0;
  padding: 10px;
}

.signin-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.signin-form label {
  display: flex;
  justify-content: space-between;
}

.signin-form-description {
  font-size: 24px;
}

.signin-form input[type=text], input[type=password] {
  border: 1px solid #dadce0;
  border-radius: 2px;
}

.session-submit, .demo-signin {
  background: #1a73e8;
  color: white;
  padding: 6px 24px;
  border-radius: 2px;
}

.session-form-link {
  color: #1a73e8;
  padding: 6px;
}

/* .signin-form input[type=submit] {
  background: blue;
  border-radius: 6px;
  color: white;
} */
