/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
  height: 56px;
  padding: 0 16px;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.logo-content {
  display: flex;
  flex-direction: row;
  position: relative;
}

.nutube-logo {
  height: 18px;
  width: 32px;
  position: absolute;
  bottom: 0;
  left: 0;
} 

.nutube-text {
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 18px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  left: 32px;
  top: 1.3px;
}

/* form */
.video-search {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 30px;
  border: 1px solid rgb(222, 222, 222);
  justify-content: space-between;
  border-radius: 2px;
}

/* inputs  */

/* DEP. padding-right: 100% */
  /* DEP. align- */


.video-search-text {
  background-color: transparent;
  font-size: 16px;
  max-width: 100%;
  font-weight: 400;
  margin-left: 4px;
  padding: 2px 6px;
}

.video-search-image-div {
    border-left: 1px solid rgb(222, 222, 222);
    background-color: rgb(246, 246, 246);
    width: 65px;
    padding: 2px 6px;
    display: flex;
  }

.video-search-image {
  height: 14px;
  display: block;
  margin: auto;
}

